---
layout: post
title: The Land
subtitle: Beauty That Surrounds Us
tags: land
---

<div class="map">
  <img src="images/nj-physiographic-provinces.jpg" />
</div>

<div class="nothing">
  <p>The New Jersey Geological and Water Survey divides the state's remarkably diverse geography into four physiographic provinces:</p>
  <div id="land-table-container" class="table-container">
    <table class="index"><tr><td>Coastal Plain</td></tr></table>
  </div>
  <p>Home to NJ's Atlantic Coast, Bayshores, and Pine Barrens</p>
  <div class="table-container">
    <table class="index"><tr><td>Piedmont</td></tr></table>
  </div>
  <p>A fertile basin trasnected by igneous ridges, forming historically important natural barriers</p>
  <div class="table-container">
    <table class="index"><tr><td>Highlands</td></tr></table>
  <p>A rocky, mineral-rich hill country dotted with lakes and mountain streams</p>
  <div class="table-container">
    <table class="index"><tr><td>Appalachian Valley and Ridge</td></tr></table>
  </div>
  </div>
  <p>A very Pennsylvania-esque section of the Appalachian Mountains, dominated by Kitatinny Ridge</p>
</div>

<div class="table-container">
  <table class="index">
    {% tablerow post in site.categories.land cols:3 %}
      {% if post.url %}
          <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    {% endtablerow %}
  </table>
</div>

<p>Highlands posts: And stuff</p>

<ul>
  {% for post in site.categories.highlands %}
    {% if post.url %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>



