---
layout: post
title: The People of NJ
tags: people
---

To paraphrase a great American poet who spent his later years in our state, "I hear New Jersey singing, the varied carols I hear..."

<h2>Culture of NJ</h2>

<div class="table-container">
  <table class="index">
    {% tablerow post in site.categories.culture cols:3 %}
      {% if post.url %}
          <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    {% endtablerow %}
  </table>
</div>

<h2>Peoples of NJ</h2>

<div class="table-container">
  <table class="index">
    {% tablerow post in site.categories.peoples cols:3 %}
      {% if post.url %}
          <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    {% endtablerow %}
  </table>
</div>

<h2>Exemplary New Jeresyites</h2>

<div class="table-container">
  <table class="index">
    {% tablerow post in site.categories.bios cols:3 %}
      {% if post.url %}
          <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    {% endtablerow %}
  </table>
</div>

<h2>Politics of NJ</h2>

<div class="table-container">
  <table class="index">
    {% tablerow post in site.categories.politics cols:3 %}
      {% if post.url %}
          <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    {% endtablerow %}
  </table>
</div>

