---
layout: post
title: The People of NJ
subtitle: A big happy family? Maybe someday.
---

<iframe src="https://s3.amazonaws.com/nj-data/live-updating-map/NCSmap1.html" width="100%" height="600"></iframe></p>
<p><i>Source:</i> <a href="http://www.nj.com/news/index.ssf/2015/04/mapping_njs_unofficial_north_central_and_south_jer.html#mapresults" target="_blank"><i>http://www.nj.com/news/index.ssf/2015/04/mapping_njs_unofficial_north_central_and_south_jer.html#mapresults</i></a></p>

<h2>NJ's Cultural Regions</h2>

<p>Three regions, each with its own personality and social make-up, coexist in NJ, making any attempt at state-wide cultural generaliation dubious. North Jersey natives, like myself, may not possess much South Jersey cultural literacy. For this reason South Jerseyite <a href="http://interpretation-of-nj.com/submit.html">contributions to this website </a>would be especially valued!.</p>

<p>The designations North, Central and South Jersey are purely cultural in nature. The names carry no legal weight, and the frontiers between them disregard political boundaries. I love this map, created from an <a href="http://www.nj.com">NJ.com</a> poll. A detailed comparison of <a href="http://interpretation-of-nj.com{% post_url 2016-09-14-north-central-south %}">North vs Central vs South</a> can be found within this section. </p>

<h2>Culture of NJ</h2>

<div class="table-container">
  <table class="index">
    {% tablerow post in site.categories.culture cols:3 %}
      {% if post.url %}
          <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    {% endtablerow %}
  </table>
</div>

<h2>Exemplary New Jeresyites</h2>

<div class="table-container">
  <table class="index">
    {% tablerow post in site.categories.bios cols:3 %}
      {% if post.url %}
          <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    {% endtablerow %}
  </table>
</div>

<h2>Politics of NJ</h2>

<div class="table-container">
  <table class="index">
    {% tablerow post in site.categories.politics cols:3 %}
      {% if post.url %}
          <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    {% endtablerow %}
  </table>
</div>

