<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="styles/style.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  </script>
  <style>
   </style>

</head>

<body>
<div id="container">
<!---- Menu ----->
  <div id="menu-container">
    <div class="menu-item"><p><a class="menu-text" href="index.html"><img src="images/liberty-cap.jpg" height="12px" alt="liberty cap" /></a>&nbsp;&nbsp;<a class="menu-text" href="index.html">INJ</a></p></div>
    <div class="menu-item"><p><a class="menu-text" href="land.html">Land</a></p></div>
    <div class="menu-item"><p> <a class="menu-text" href="people.html">People</a></p></div>
    <div class="menu-item"><p> <a class="menu-text" href="land-use.html">Land Use</a></p></div>
    <div class="menu-item"><p> <a  class="menu-text" href="submit.html">Contribute!</a></p></div>
    <div class="menu-item"><p> <a class="menu-text" href="why.html">Why?</a></p></div>
  </div>

{{ content }}
  
  </div>

</body>
