body {
	background-color: #F0DC82;
        font-family: Georgia, Times New Roman, Garamond, serif;
        margin: 0 auto;
        word-wrap: break-word;
}
a {
        font-weight: bold;
	color: #4d4d4d;
}
#container  {
	width: 100%;
        text-align: center;
}
#menu-container {
        width: 100%;
        background-color: #4d4d4d;
        color: #F0DC82;
        overflow: auto;
}
div.menu-item {
        width: 13%;
        min-width: 40px;
        float: left;
        background-color: #4d4d4d;
        margin: 0 10px 0 10px;
        overflow: hidden;
}
a.menu-text {
        color: #c0c0c0;
        font-weight: normal;
}
div.article {
        width: 60%;
        text-align: left;
        display: inline-block;
}
div.headline-container {
        margin: 10px 0 37px 0;
        text-align: center;
}
div.navigation {
        font-size: 11pt;
        margin: 35px 0 0 0;
        text-align: center;
        width: 100%;
}
div.navigation-text {
	display: inline;
}
div.headline-bar {
        width: 50%;
        height: 3px;
        background-color: #4d4d4d;
        margin: 20px 0 0 0;
        display: inline-block;
}
#content {
	width: 90%;
	margin: 0 auto;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}
p, ul {
        font-family: Georgia, Times New Roman, Garamond, serif;
	line-height: 120%
        font-size: 13pt;
}
h1 {
	text-align: center;
	font-family: Georgia, Times New Roman, Garamond, serif;
        font-size: 40pt;
        font-weight: normal;
        margin: 0;
        display: inline-block;
}
h2 {
	font-family: Georgia, Times New Roman, Garamond, serif;
	text-align: left;
        font-size: 17pt;
        margin: 15px 0 10px 0;
        display: inline-block;
}
div.map {
	margin: 25px;
	text-align: center;
}
div.legend {
	width: 160px;
	height: 90px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	text-align: left;
	padding: 15px;
	float: right;
	margin: 144px 0 0 0;
}
div.directory {
         height: 150px;
	 width: 900px;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}
#directory-box {
    margin: 10px 0 10px 0;
}
div.table-container {
    text-align: center;
    width: 100%;
    margin: 25px 0 25px 0;
}
#land-table-container {
	margin-bottom: 0;
}
#land-table-container-top {
	margin-top: 15px;
	margin-bottom: 0;
}
table.index {
    background-color: #4d4d4d;
    border-collapse: collapse;
    margin: 0 auto;
}
table.index a:link {color: #c0c0c0; font-weight: normal;}
table.index a:visited {color: #c0c0c0; font-weight: normal;}
table.index a:hover {color: #c0c0c0; font-weight: normal;}
table.index a:active {color: #c0c0c0; font-weight: normal;}
table.index a:focus {color: #c0c0c0; font-weight: normal;}
td {
    border: 5px solid #F0DC82;
    padding: 8px;
}
div.map-container {
     float: left;
}
div.map {
     margin: 0 0 25px 0;
     float: left;
     width: 55%;
     min-width: 321px;
}
#land-map {
	width: 45%;
	min-width: 321px;
	margin-right: 45px;
	display: block;
}
img.land-use-map {
     max-width: 100%;
     height: auto;
}
div.map-key {
     border: 1px solid black;
     padding: 10px;
     width: 30%;
     width: 175px;
     float: left;
     margin: 5px 0 0 20px;
     font-size: 10pt;
     line-height: 125%;
}
p.key {
     margin: 0 0 5px 0;
     padding: 0;
     font-weight: bold;
}
span.key-color {
     font-size: 12pt;
}
div.heading-container {
        width: 80%;
	margin: 0 auto;
	text-align: left;
	font-family: Georgia, Times New Roman, Garamond, serif;
}
div.heading {
        width: 80%;
}
h1.heading {
        text-align:center;
        font-size:56px;
        font-family: Georgia, Times New Roman, Garamond, serif;
        line-height: 100%;
        margin: 60px 0 20px 0;
        font-weight: normal;
}
div.state-seal {
        width:33%;
        float:left;
        margin: 0 25px 10px 0;
}
img.seal {
        max-width:100%;
        height:auto;
}
div.intro-text-area {
        text-align:left;
        font-family: Georgia, Times New Roman, Garamond, serif;
        width:66%
        float:left;
        margin: 55px 0 0 0;
}
p.intro-text {
        font-weight:bold;
        font-size:22px;
        line-height:140%;
}
div.story-container {
        width:100%;
        background-color:#4d4d4d;
        float: left;
}
div.story-content {
	width: 80%;
	margin: 0 auto;
	text-align: left;
	font-family:  Georgia, Times New Roman, Garamond, serif;
        color: #d3d3d3;
        font-size: 13pt;
}
div.story-image {
        float: left;
        margin: 0 40px 40px 0;
}
div.story-text {
}
h2.story-heading {
        font-size: 28pt;
        text-align: left;
        font-variant: small-caps;
        letter-spacing: 2px;
        display: block;
}
a.story {
        color: #F0DC82;
        font-weight: bold;
}
div.bottom-text{
        margin: 25px 25px 25px 25px;
        width: 90%;
}
div.land {
	width: 85%;
	margin-top: 10px;
	display: inline;
}
div.land p {
	margin-top: 5px;
	text-align: center;
}
#land-intro-text {
	margin-left: 25px;
	margin-bottom: 50px;
}
#land-rivers-text {
	margin-top: 65px;
	margin-left: 25px;
}
